@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

html {
    font-size: 12px;
}

body {
    background: rgb(88,88,255);
    background: radial-gradient(circle, rgb(180, 180, 255) 0%, rgb(47, 144, 189) 0%, rgba(180, 180, 255) 100%);
}

.titulo {
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 30px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
    }

.bg-isfd {
    padding: 25px;
    border-radius: 25px;
    border: 1px black solid;
    box-shadow: 15px 15px 5px 5px;
    backdrop-filter: blur(30px);
}

.bg-person {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    text-align: center;
}


.bi-person {
    font-size: 30px;
    color: white;
}.bi-person-add {
    font-size: 30px;
    color: white;

}

/* 

<a href="{{ route('login') }}" class="bg-isfd"> <!-- scale-100 p-6 bg-white dark:bg-gray-800/50 dark:bg-gradient-to-bl from-gray-700/50 via-transparent dark:ring-1 dark:ring-inset dark:ring-white/5 rounded-lg shadow-2xl shadow-gray-500/20 dark:shadow-none flex motion-safe:hover:scale-[1.01] transition-all duration-250 focus:outline focus:outline-2 focus:outline-red-500"> -->
                            <div> 
                            <div class="bg-person">
                                <i class="bi bi-person"></i>
                            </div>
                                <h2 class="mt-6 text-xl font-semibold text-gray-900 dark:text-white">{{ __('Login') }}</h2>

                                <p class="mt-4 text-gray-500 dark:text-gray-400 text-sm leading-relaxed">
                                    Si ya se posee su usuario en la gestion de horario de IFD ingresa aqui.
                                </p>
                            </div>

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="self-center shrink-0 stroke-red-500 w-6 h-6 mx-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                            </svg>
                        </a>
            

                        <a href="{{ route('register') }}" class="bg-isfd"> <!-- scale-100 p-6 bg-white dark:bg-gray-800/50 dark:bg-gradient-to-bl from-gray-700/50 via-transparent dark:ring-1 dark:ring-inset dark:ring-white/5 rounded-lg shadow-2xl shadow-gray-500/20 dark:shadow-none flex motion-safe:hover:scale-[1.01] transition-all duration-250 focus:outline focus:outline-2 focus:outline-red-500"> -->
                            <div>
                                <div class="bg-person">
                                    <i class="bi bi-person-add"></i>
                                </div>

                                <h2 class="mt-6 text-xl font-semibold text-gray-900 dark:text-white">{{ __('Register') }}</h2>

                                <p class="mt-4 text-gray-500 dark:text-gray-400 text-sm leading-relaxed">
                                    Si desea registrarse o registrar un usuario ingrese aqui
                                </p>
                            </div>

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="self-center shrink-0 stroke-red-500 w-6 h-6 mx-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                            </svg>
                        </a>

*/